
body{
  background-color: black;
}

img{
  max-width:100%
}
#top{
  text-align: left;
  color: white;
  font-family: Bozon;
}

  h1{
    text-align: left;
    color: white;
    font-family: Bozon;
  }
